*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

/*GRADIENT AND LAYER BLUR EFFECT*/
.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px #e7e7e7;
    rotate: -30deg;
    z-index: -1;
}

/*CONTAINER*/
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
    z-index: 999;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    color: #a7a7a7;
}



/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box{
    position:relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a5, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
    to{
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}   

.tag-box .tag:hover{
    color: #5300a0;
}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.description{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;
}

.robot-3d{
    position: absolute;
    top: 5%;
    right: -23%;
}

.partners-section {
    padding: 50px 20px;
}

  .partners-title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 3.25rem;
    font-weight: 45000;
    letter-spacing: 0.1em;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

  .partners-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

  .partners-logos img {
    max-height: 60px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.partners-logos img:hover {
    opacity: 1;
    cursor: pointer;
}

.title{
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 5rem;
    font-weight: 45000;
    letter-spacing: 0.1em;
    margin-left: 95px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);

}   

.description2{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;
    text-align: center;
    align-items: center;
}

.content2{
    text-align: center;
    max-width: 2000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.infantino-des p{
    font-size: 18px;
    line-height: 1.7;
    color: #ccc;
    text-align: center;
    margin-left: 445px;
    padding-left: 0;

}

@media (max-width: 768px){
    header{
        padding: 1rem 0.1rem;    
    }

    nav{
        display: none;
    }

    header h1{
        font-size: 2rem;
    }

    .content{
        margin-top: 25rem;
    }

    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: 0;
    }

    .content{
        max-width: 30rem;
        margin-left: 10%;
    }

    .tag-box{
        width: 12rem;
    }

    .content h1{
        font-size: 2.5rem;
    }

    .description{
        font-size: 1rem;
    }
}

.title2{
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 5rem;
    font-weight: 45000;
    letter-spacing: 0.1em;
    margin-left: 95px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.wrapper {
    width: 100%;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('Infantino logo final.png');
}
.card[for="c2"] {
    background-image: url('Infantino logo final.png');
}
.card[for="c3"] {
    background-image: url('Infantino logo final.png');
}
.card[for="c4"] {
    background-image: url('Infantino logo final.png');
}
.card[for="c5"] {
    background-image: url('Infantino logo final.png');
}
.card[for="c6"] {
    background-image: url('Infantino logo final.png');
}

.event-card{
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.event-card h1{
    color: white;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.event-card::after, .event-card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #7c10be, white, #006aff, #ff0095, #7c10be);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.event-card p{
    font-size: 1.25rem;
}
.event-card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* or space-between / space-evenly */
  gap: 20px; /* spacing between cards */
}

/*video section*/
.teaser{
  margin: 0 auto;
  padding: 2em;
  width: 720px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}


@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.teaser::after, .teaser::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #7c10be, white, #006aff, #ff0095, #7c10be);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.teaser::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}